body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-image: url("https://tse3.mm.bing.net/th?id=OIP.ulgIUOumRK4Bvqeddju7mwHaFQ&pid=Api&P=0&h=180");
  background-repeat: no repeat ;
  color: #141414;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  background-color: #f8f9fa;
}

.App-header {
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.products,
.details {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.products {
  background-color: #ffffff;
  border-right: 2px solid #ddd;
}

.details {
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  margin-bottom: 20px;
}
